.profile__info {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;
  grid-gap: 8px 18px;
  /* align-items: baseline некорректно отображается в firefox macOs */
  align-items: center;

  margin: auto 0;
}

@media screen and (max-width: 540px) {
  .profile__info {
    grid-gap: 7px 10px;

    transform: translateX(14px);
  }
}
