.card__delete {
  width: 18px;
  height: 20px;

  position: absolute;
  top: 18px;
  right: 15px;

  padding: 0;

  background: transparent url('../../../images/icons/delete.svg') no-repeat center / contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0 0 3px #000);

  transition: opacity .1s linear;
}

.card__delete:hover {
  opacity: .6;
}
