.profile__about {
  max-width: 340px;

  margin-top: 0;
  margin-bottom: 0;

  color: #fff;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .profile__about {
    max-width: 282px;

    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
