.edit-form__title_theme_dark {
  margin: 0 0 55px 0;
}

@media screen and (max-width: 540px) {
  .edit-form__title_theme_dark {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 40px;
  }
}
